<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
		<!-- <script src="https://use.fontawesome.com/d5895a3b55.js"></script> -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="styles.css" type="text/css" />

		<title>Yakko's World</title>
	</head>
	<body>
		<div id="app" :style="{ height: windowHeight }">
			<div class="lyrics" :class="{'info-open' : currentNation}" @click="clearNationInfo">
				<h1>Yakko's world</h1>

				<i>And now, the nations of the world, brought to you by Yakko Warner!</i><br>
				<br>

				<span @click.stop="getNationInfo('united_states')">United States</span>, <span @click.stop="getNationInfo('canada')">Canada</span>, <span @click.stop="getNationInfo('mexico')">Mexico</span>, <span @click.stop="getNationInfo('panama')">Panama</span>,<br>
				<span @click.stop="getNationInfo('haiti')">Haiti</span>, <span @click.stop="getNationInfo('jamaica')">Jamaica</span>, <span @click.stop="getNationInfo('peru')">Peru</span>,<br>
				<span @click.stop="getNationInfo('dominican_republic')">Republic Dominican</span>, <span @click.stop="getNationInfo('cuba')">Cuba</span>, <span @click.stop="getNationInfo('caribbean')">Caribbean</span>,<br>
				<span @click.stop="getNationInfo('greenland')">Greenland</span>, <span @click.stop="getNationInfo('el_salvador')">El Salvador</span> too.<br>
				<br>
				Puerto Rico, Colombia, Venezuela,<br>
				Honduras, Guyana, and still,<br>
				Guatemala, Bolivia, then Argentina,<br>
				And Ecuador, Chile, Brazil.<br>
				<br>
				Costa Rica, Belize, Nicaragua, Bermuda,<br>
				Bahamas, Tobago, San Juan,<br>
				Paraguay, Uruguay, Suriname,<br>
				And French Guiana, Barbados, and Guam.<br>
				<br>
				Norway, and Sweden, and Iceland, and Finland,<br>
				And Germany, now in one piece,<br>
				Switzerland, Austria, Czechoslovakia,<br>
				Italy, Turkey, and Greece.<br>
				<br>
				Poland, Romania, Scotland, Albania,<br>
				Ireland, Russia, Oman,<br>
				Bulgaria, Saudi Arabia, Hungary,<br>
				Cyprus, Iraq, and Iran.<br>
				<br>
				There's Syria, Lebanon, Israel, Jordan,<br>
				<span @click.stop="getNationInfo('yemen')">Both Yemens</span>, Kuwait, and Bahrain,<br>
				The Netherlands, Luxembourg, Belgium, and Portugal,<br>
				France, England, Denmark, and Spain.<br>
				<br>
				India, Pakistan, Burma, Afghanistan,<br>
				Thailand, Nepal, and Bhutan,<br>
				Kampuchea, Malaysia, then Bangladesh, Asia,<br>
				And China, Korea, Japan.<br>
				<br>
				Mongolia, Laos, and Tibet, Indonesia,<br>
				The Philippine Islands, Taiwan,<br>
				Sri Lanka, New Guinea, Sumatra, New Zealand,<br>
				Then Borneo, and Vietnam.<br>
				<br>
				Tunisia, Morocco, Uganda, Angola,<br>
				Zimbabwe, Djibouti, Botswana,<br>
				Mozambique, Zambia, Swaziland, Gambia,<br>
				Guinea, Algeria, Ghana.<br>
				<br>
				Burundi, Lesotho, and Malawi, Togo,<br>
				The Spanish Sahara is gone,<br>
				Niger, Nigeria, Chad, and Liberia,<br>
				Egypt, Benin, and Gabon.<br>
				<br>
				Tanzania, Somalia, Kenya, and Mali,<br>
				Sierra Leone, and Algiers,<br>
				Dahomey, Namibia, Senegal, Libya,<br>
				Cameroon, <span @click.stop="getNationInfo('congo')">Congo</span>, <span @click.stop="getNationInfo('zaire')">Zaire</span>.<br>
				<br>
				Ethiopia, Guinea-Bissau, Madagascar,<br>
				Rwanda, Maore and Cayman,<br>
				Hong Kong, Abu Dhabi, Qatar, Yugoslavia...<br>
				<br>
				Crete, Mauritania, then Transylvania,<br>
				Monaco, Liechtenstein, Malta, and Palestine,<br>
				Fiji, Australia, Sudan!<br>
			</div>

			<div class="info" ref="info" v-if="currentNation">
				<template v-if="currentNation">
					<div class="title-wrap">
						<h2>{{ currentNation.name }}</h2>
						<span v-if="currentNation.flags">
							<img v-for="flag in currentNation.flags" :src="flag.img" alt="flag.name">
						</span>
					</div>
					<p v-html="currentNation.info"></p>
				</template>
				<template v-else>
					Click on a nation name to find out more...
				</template>
			</div>

		</div>
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>