<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
		<!-- <script src="https://use.fontawesome.com/d5895a3b55.js"></script> -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="styles.min.css" type="text/css" />

		<title>Yakko's World</title>
	</head>
	<body>
		<div id="app" :style="{ height: windowHeight }">
			<div class="lyrics">
				<h1>Yakko's world</h1>

				<i>And now, the nations of the world<br>
				Brought to you by Yakko Warner</i><br>
				<br>

				<span @click="getNationInfo('zaire')">United States</span>, <span @click="getNationInfo('zaire')">Canada</span><br>
				<span @click="getNationInfo('zaire')">Mexico</span>, <span @click="getNationInfo('zaire')">Panama</span><br>
				<span @click="getNationInfo('zaire')">Haiti</span>, <span @click="getNationInfo('zaire')">Jamaica</span>, <span @click="getNationInfo('zaire')">Peru</span><br>
				<span @click="getNationInfo('zaire')">Republic Dominican</span>, <span @click="getNationInfo('zaire')">Cuba</span>, <span @click="getNationInfo('zaire')">Carribean</span><br>
				<span @click="getNationInfo('zaire')">Greenland</span>, <span @click="getNationInfo('zaire')">El Salvador</span> too<br>
				<br>
				<span @click="getNationInfo('zaire')">Puerto Rico</span>, <span @click="getNationInfo('zaire')">Colombia</span>, <span @click="getNationInfo('zaire')">Venezuela</span><br>
				<span @click="getNationInfo('zaire')">Honduras</span>, Guyana, and still<br>
				Guatemala, Bolivia<br>
				Then Argentina<br>
				And Ecuador, Chile, Brazil<br>
				<br>
				Costa Rica, Belize, Nicaragua<br>
				Bermuda, Bahamas, Tobago, San Juan<br>
				Paraguay, Uruguay, Surinam<br>
				And French Guiana, Barbados, and Guam<br>
				<br>
				Norway, and Sweden<br>
				And Iceland, and Finland<br>
				And Germany now one piece<br>
				Switzerland, Austria, Czechoslovakia<br>
				Italy, Turkey, and Greece<br>
				<br>
				Poland, Romania<br>
				Scotland, Albania<br>
				Ireland, Russia, Oman<br>
				Bulgaria, Saudi Arabia, Hungary<br>
				Cyprus, Iraq, and Iran<br>
				<br>
				There's Syria, Lebanon, Israel, Jordan<br>
				<span @click="getNationInfo('yemen')">Both Yemens</span>, Kuwait, and Bahrain<br>
				The Netherlands, Luxembourg, Belgium, and Portugal<br>
				France, England, Denmark, and Spain<br>
				<br>
				India, Pakistan<br>
				Burma, Afghanistan<br>
				Thailand, Nepal, and Bhutan<br>
				Kampuchea, Malaysia<br>
				Then Bangladesh (Asia)<br>
				And China, Korea, Japan<br>
				<br>
				Mongolia, Laos<br>
				And Tibet, Indonesia<br>
				The Philippine Islands, Taiwan<br>
				Sri Lanka, New Guinea<br>
				Sumatra, New Zealand<br>
				Then Borneo, and Vietnam<br>
				<br>
				Tunisia, Morocco, Uganda, Angola<br>
				Zimbabwe, Djibouti, Botswana<br>
				Mozambique, Zambia<br>
				Swaziland, Gambia<br>
				Guinea, Algeria, Ghana<br>
				<br>
				Burundi, Lesotho<br>
				And Malawi, Togo<br>
				The Spanish Sahara is gone<br>
				Niger, Nigeria<br>
				Chad, And Liberia<br>
				Egypt, Benin, and Gabon<br>
				<br>
				Tanzania, Somalia<br>
				Kenya, and Mali<br>
				Sierra Leone, and Algiers<br>
				Dahomey, Namibia<br>
				Senegal, Libya<br>
				Cameroon, Congo, <span @click="getNationInfo('zaire')">Zaire</span><br>
				<br>
				Ethiopia, Guinea-Bissau, Madagascar<br>
				Rwanda, Mahore, And Cayman<br>
				Hong Kong, Abu Dhabi, Qatar, Yugoslavia<br>
				<br>
				Crete, Mauritania<br>
				Then Transylviania<br>
				Monaco, Liechtenstein<br>
				Malta, and Palestine<br>
				Fiji, Australia, Sudan<br>
			</div>

			<div class="info">
				<template v-if="currentNation">
					<div class="title-wrap">
						<h2>{{ currentNation.name }}</h2>
						<span v-if="currentNation.flags">
							<img v-for="flag in currentNation.flags" :src="flag.img" alt="flag.name">
						</span>
					</div>
					<p>{{ currentNation.info }}</p>
				</template>
				<template v-else>
					Click on a nation name to find out more...
				</template>
			</div>

		</div>
		<script type="text/javascript" src="scripts.min.js"></script>
	</body>
</html>